*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  margin: 0;
}
/* headings */ 

h1 {
  font-size: 23px;
}

/* forms */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 300px;
  padding: 64px 15px 24px;
  margin: 0 auto;
}
.form .group {
  margin-bottom: 20px;
}
.form-input {
  width: 100%;
  padding: 14px 16px;
  border: 0;
  background: transparent;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  font-size: 16px;
}
.form-input:focus {
  outline: none;
}

.btn {
  width: 100%;
  padding: 14px 16px;
  background: #00d4ff;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #340979
}

/* block cube effect */

.block-cube {
  position: relative;
}

.block-cube .bg-top, 
.block-cube .bg-inner,
.block-cube .bg {
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
}

.block-cube .bg-inner {
  background: #212121 
}

/* navbar */

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color: #00d4ff;
}

/* homepage */

.login-notice {
  text-align: center;
  padding: 50px;
}

/* footer */

.credits {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.credits a {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
}   